@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.error {
  color: red;
}

.submit {
  cursor: pointer;
  background-color: green;
  border-radius: 5px;
  padding: 10px;
}

.submit.pending {
  cursor: default;
  background-color: gray;
}

.done-form {
  margin-top: 20px;
}

.info {
  margin-top: 60px;
}

.board-container {
  position: relative;
}

.area {
  position: absolute;
  opacity: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece {
  display: inline;
  width: 3vw;
  height: auto;
}

.movable-piece {
  display: inline;
}

.movable-piece.selected {
  border: 5px solid green;
}

.wildling-threat-token {
  position: absolute;
  top: 3.5%;
}

.wildling-threat-token.position-2 {
  left: 25%;
}

.game-round-marker {
  position: absolute;
  left: 82%;
}

.game-round-marker.position-1 {
  top: 95%;
}

.influence-token {
  position: absolute;
}

.influence-token.position-1 {
  top: 29%;
}

.influence-token.position-2 {
  top: 24%;
}

.influence-token.position-3 {
  top: 19%;
}

.influence-token.position-4 {
  top: 14%;
}

.influence-token.position-5 {
  top: 9%;
}

.influence-token.position-6 {
  top: 4%;
}

.iron-throne-track {
  left: 78.5%;
}

.fiefdoms-track {
  left: 86%;
}

.kings-court-track {
  left: 93.5%;
}

.supply-track {
  position: absolute;
  left: 77%;
  width: 11%;
  height: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.supply-track.position-0 {
  top: 61.5%;
}

.supply-track.position-1 {
  top: 58.3%;
}

.supply-track.position-2 {
  top: 55.1%;
}

.supply-track.position-3 {
  top: 51.9%;
}

.supply-track.position-4 {
  top: 48.7%;
}

.supply-track.position-5 {
  top: 45.5%;
}

.supply-track.position-6 {
  top: 42.3%;
}

.victory-track {
  position: absolute;
  left: 86%;
  width: 14%;
  height: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.victory-track.position-1 {
  top: 95.25%;
}

.victory-track.position-2 {
  top: 90.75%;
}

.victory-track.position-3 {
  top: 86.25%;
}

.victory-track.position-4 {
  top: 81.75%;
}

.victory-track.position-5 {
  top: 77.25%;
}

.victory-track.position-6 {
  top: 72.75%;
}

.victory-track.position-7 {
  top: 68.25%;
}